apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: agentgateway
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "6"
spec:
  project: default
  sources:
  - repoURL: {{ platform_repo_url }}
    targetRevision: {{ platform_repo_branch }}
    path: platform/generated/argocd/k8/core/agentgateway
  - repoURL: {{ platform_repo_url }}
    targetRevision: {{ platform_repo_branch }}
    path: platform/generated/argocd/k8/core/agentgateway-httproute
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
