apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: agentgateway-httproute
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "7"
spec:
  project: default
  source:
    repoURL: {{ platform_repo_url }}
    targetRevision: {{ platform_repo_branch }}
    path: generated/argocd/k8/core/agentgateway-httproute
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
