context: {{ cluster_name }}
contexts:
  {{ cluster_name }}:
    endpoints:
      - {{ cluster_endpoint.split(':')[0] }}
    ca: {{ secrets.certs.os.crt }}
    crt: {{ secrets.certs.os.crt }}
    key: {{ secrets.certs.os.key }}
