context: {{ cluster_name }}
contexts:
  {{ cluster_name }}:
    endpoints:
      - {{ cluster_endpoint.split(':')[0] }}
    ca: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0t
    crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0t
    key: LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0t
