version: v1alpha1
debug: false
persist: true
machine:
  type: worker
  token: {{ cluster_name }}-token
  ca:
    crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0t
    key: LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0t
  certSANs:
    - {{ node_ip }}
  kubelet:
    image: {{ kubelet_image }}
    extraArgs:
      rotate-server-certificates: "true"
  network:
    hostname: {{ node_name }}
    interfaces:
      - interface: eth0
        dhcp: true
  install:
    disk: {{ disk_device }}
    image: {{ installer_image }}
    wipe: false
  files: []
  env: {}
  time:
    disabled: false
    servers:
      - time.cloudflare.com
  sysctls:
    net.core.somaxconn: "65535"
    net.core.netdev_max_backlog: "4096"
  systemDiskEncryption: {}
  features:
    rbac: true
    stableHostname: true
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    kubePrism:
      enabled: true
      port: 7445
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: true
cluster:
  id: {{ cluster_name }}-id
  secret: {{ cluster_name }}-secret
  controlPlane:
    endpoint: https://{{ cluster_endpoint }}
  clusterName: {{ cluster_name }}
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets:
      - 10.244.0.0/16
    serviceSubnets:
      - 10.96.0.0/12
  token: {{ cluster_name }}-token
  ca:
    crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0t
    key: LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0t
  discovery:
    enabled: true
    registries:
      kubernetes:
        disabled: false
      service:
        disabled: false
