apiVersion: cluster.x-k8s.io/v1beta1
kind: MachineDeployment
metadata:
  name: {{ pool_name }}
  namespace: default
  annotations:
    cluster.x-k8s.io/cluster-api-autoscaler-node-group-min-size: "{{ min_size }}"
    cluster.x-k8s.io/cluster-api-autoscaler-node-group-max-size: "{{ max_size }}"
spec:
  clusterName: {{ cluster_name }}
  replicas: {{ min_size }}
  selector:
    matchLabels:
      cluster.x-k8s.io/cluster-name: {{ cluster_name }}
      pool: {{ pool_name }}
  template:
    metadata:
      labels:
        cluster.x-k8s.io/cluster-name: {{ cluster_name }}
        pool: {{ pool_name }}
    spec:
      clusterName: {{ cluster_name }}
      bootstrap:
        configRef:
          apiVersion: bootstrap.cluster.x-k8s.io/v1alpha3
          kind: TalosConfigTemplate
          name: {{ pool_name }}-bootstrap
      infrastructureRef:
        apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
        kind: HCloudMachineTemplate
        name: {{ cluster_name }}-{{ pool_name }}-machine
