# Bootstrap Configuration
# This file contains global configuration for the bootstrap process
# Update TARGET_REVISION to change the branch/tag for all platform components

# Git repository configuration
REPO_URL: {{ repo_url }}
TARGET_REVISION: {{ target_revision }}
