apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  namespace: {{ namespace }}
  annotations:
    {{ annotations }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ dockerconfigjson_base64 }}
