apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  namespace: {{ namespace }}
  annotations:
    {{ annotations }}
type: {{ secret_type }}
stringData:
  {{ secret_key }}: {{ secret_value }}
